# Ignore virtual environment
venv/

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore local settings or secrets
.env

# Ignore database instances or SQLite files (optional)
*.db
instance/

#ignore everything in uploads/ folder
app/static/uploads/
